@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.prompt {
  margin: 2.4em auto;
}

.moodRatingButton {
  @include size(100px, 100px);
  border-radius: 50%;
  margin: 5px;
  color: white;
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 64px;
  box-shadow: 0px 0px 10px 1px $darkBlue;
  border: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moodRatingSubmit {
  @include size(90px, 50px);
  background: radial-gradient($midBlue, #7987a1ab);
  color: $white;
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 0px 10px $darkBlue, inset 0px 0px 5px rgba(0, 0, 0, 0.239);
  border: none;
  border-radius: 0.5em;

  &:hover {
    background-color: $darkBlue;
    box-shadow: 0px 0px 30px $lightBlueAccent, inset 0px 0px 5px rgba(0, 0, 0, 0.239);
    cursor: pointer;
  }
}

.moodRatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodRatingModal {
  @extend .moodRatingContainer;
  -webkit-filter: blur(5px) grayscale(50%);
}

.facesContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8em;
}

.unselected {
  filter: opacity(50%) grayscale(50%);
}

.errorContainer {
  height: 80px;
}

.errorMessage {
  color: crimson;
  font-weight: 600;
  font-size: 1.2em;
  margin: auto;
  padding-top: 25px;
}

/* Faces Buttons Styling */
.moodIcon {
  @include size(103px, 103px);
}

.moodRating1 {
  background-color: #9A031E;
  outline-color: #9A031E;
}

.moodRating2 {
  background-color: #DF6407;
  outline-color: #DF6407;
}

.moodRating3 {
  background-color: #DFAC07;
  outline-color: #DFAC07;
}

.moodRating4 {
  background-color: #55A630;
  outline-color: #55A630;
}

.moodRating5 {
  background-color: #007F5F;
  outline-color: #007F5F;
}

@media screen and (max-width: 688px) {
  .facesContainer {
    flex-direction: column-reverse;
    margin: 5px;
  }

  .moodRatingSubmit {
    margin-bottom: 2em;
  }

  .moodRatingButton {
    @include size(80px, 80px)
  }
}