@import '../../style/variables.scss';

.errorCode {
  font-size: 3em;
  margin: 1em 0 0 0;

}

.warning {
  color: $salmonHover;
}

.oopsMessage {
  margin-top: 1em;
  font-size: 1.5em;
}

.notFoundContent {
  font-size: 1.4em;
}

.burnout {
  width: 15em; 
  margin: 1em; 
  object-fit: cover;
  border-radius: 1em;
}
