@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.prompt {
  font-size: 1.75em;
  margin: .5em 0 1em;
}

.videoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: 1em 1em 0;
}

.endSessionModal {
  @extend .videoSection;
  -webkit-filter: blur(5px) grayscale(50%);
}

.videoWrapper {
  @include size(42em, 21.4em);
  display: flex;
  justify-content: center;
}

.videoPlayer {
  @include borderAndShadow(none, 1em, 0px 0px 20px 2px $midBlue);
  background-color: $midBlue; 
  background: radial-gradient($midBlue, #7987a1ab);
  box-shadow: $divShadow;
  padding: 2em; 
}

.skipBtn {
  @include borderAndShadow(none, 8px, 0px 5px 6px $midBlue);
  background: radial-gradient($salmon, #e9adaa); 
  margin-top: 5em;
  padding: 0.5em 1em; 
  font: 1.2em $primaryFont;
  font-weight: 600;
  box-shadow: 0px 5px 6px $midBlue, inset 0px 0px 5px rgba(0, 0, 0, 0.239);

  &:hover {
    background-color: $salmonHover;
    background: radial-gradient(#e9adaa, $salmon);
    box-shadow: 0px 0px 30px $lightBlueAccent, inset 0px 0px 5px rgba(0, 0, 0, 0.239);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.239);
  }
}

@media screen and (max-width: 992px) {
  .videoPlayer {
    padding: 1.5em;
  }
}

@media screen and (max-width: 688px) {
  .videoWrapper {
    @include size(23em, 12em);
  }

  .videoPlayer {
    padding: 1em;
  }

  .skipBtn {
    width: 150px;
    height: 60px;
  }
}

