@import '../../style/variables.scss';

* {
  transition: all .24s ease-in-out;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  background-color: $midBlue;
  box-shadow: 0px 0px 20px $darkBlue;
}

.title {
  text-decoration: none;
  font-family: $primaryFont;
  font-size: 2em;
  color: $lightTan;
  margin: 0 auto;
  text-shadow: 3px 3px 5px $darkBlue;
}

.text {
  margin: 0;
}

.navBar {
  position: absolute;
}

.navButton {
  background: none;
  border: none;
  outline: none;

  &:hover {
  }
}

.selected {
  filter: drop-shadow(0px 0px 5px $salmon);
}

.icon {
  height: 60px; 
  filter: drop-shadow(0px 0px 5px $darkBlue);
  
  &:hover {
    cursor: pointer;
    animation: infinite-spinning 2.4s linear infinite running;
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: space-evenly;
  }

  .navBar {
    position: relative;
  }
}

@media screen and (max-width: 688px) {
  .header {
    flex-direction: column;
  }

  .title {
    margin: 0 0 .25em 0;
  }
}