@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin borderAndShadow($border, $radius, $shadow) {
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow; 
}

@mixin line() {
  height: 1px;
  width: 70%;
  border-radius: 50%;
  margin: .7em auto .7em;
  background-color: $white;
}