@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

// Colors <---------

$mainBackground: #C9D2Df;
$lightBlueAccent: #E4E9EB;
$lightTan: #F3E8E2;
$salmon: #F4D2D0;
$midBlue: #9EAEC5;
$darkBlue: #7987A1;
$salmonHover: #e19e9b;
$salmonMedium: #f06b64;
$salmonDark: #e44f47;
$white: #FFFFFF;

// Fonts <----------

$primaryFont: 'Quicksand', sans-serif;

// Stying <---------

$divShadow: 0 0 20px 1px $darkBlue, inset 0px 0px 5px rgba(0, 0, 0, 0.239);
