@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  align-items: center;
}

.loginHeader {
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 3em;
}

.line {
  @include line();
  margin: 1.5em 0;
}

.somTimerWalkthrough {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.appDescription {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.icon {
  height: 60px; 
  filter: drop-shadow(0px 0px 5px $darkBlue);
}

.walkthroughArticle {
  display: flex;
  margin-bottom: 1.2em;
  text-align: left;
  align-items: center;
}

.walkthroughText {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
}

.walkthroughHeader {
  margin-top: 0;
  margin-bottom: 0.1em;
}

.walkthroughDescription {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .loginContainer {
    width: 60%;
  }

}

@media screen and (max-width: 688px) {
  .loginContainer {
    width: 80%;
  }

}