@import '../../style/variables.scss';

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
}

.loginHeader {
  margin-top: 1.5em;
}

.somTimerWalkthrough {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
}

.appDescription {
  margin-top: 0;
}

.icon {
  height: 60px; 
  filter: drop-shadow(0px 0px 5px $darkBlue);
}

.walkthroughArticle {
  display: flex;
  margin-bottom: 1.8em;
  text-align: left;
  align-items: center;
}

.walkthroughText {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
}

.walkthroughHeader {
  margin-top: 0;
  margin-bottom: 0.1em;
}

.walkthroughDescription {
  margin: 0;
}