@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.prompt {
  margin-top: 1.5em;
}

.statsDesc {
  text-align: left; 
  font-size: 1.2em;
  margin: 2em auto;
  width: 505px;
  padding: .7em 2em; 
  color: white;
  background-color: $darkBlue;
  box-shadow: 0px 0px 20px $darkBlue, inset 0px 0px 5px rgba(0, 0, 0, 0.239);
  border-radius: 1em;
}

.line {
  @include line()
}

.strong {
  filter: drop-shadow(0px 0px 1.5px  $salmonHover);
}

.pieChart {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 250px;
}

.pieChartLegend {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.legendLabel {
  margin-top: 0.3em;
  font-weight: 600;
  margin-bottom: 0;
}

.somaticLabelSwatch,
.movementLabelSwatch,
.meditationLabelSwatch {
  @include size(50px, 18px);
  stroke-linecap: round;
  margin-top: 4px;
}

.somaticLabelSwatch {
  background-color: #FFFFFF;
  border-radius: 35%;
}

.movementLabelSwatch {
  background-color: #F4D2D0;
  border-radius: 35%;
}

.meditationLabelSwatch {
  background-color: #7987A1;
  border-radius: 35%;
}

@media screen and (max-width: 1200px) {
  .statsDesc {
    margin: 2em 8em;
  }
}

@media screen and (max-width: 688px) {
  .statsDesc {
    width: 312px;
    margin: 2em auto;
    padding: 1em .5em 1em 1.5em;
    border-radius: 1em;
  }
}