@import '../../style/variables.scss';

* {
  transition: all .24s ease-in-out;
}

.ContentSelection {
  color: black;
  text-shadow: 0px 0px 5px $darkBlue;
}

.prompt {
  margin-top: 2em;
}

.button {
  height: 6em;
  width: 6em;
  background-color: $midBlue;
  border: none;
  outline: none;
  border-radius: 1.5em;
  box-shadow: 0px 0px 10px $darkBlue;
  margin-top: 2em;

  &:hover {
    box-shadow: 0px 0px 50px $darkBlue;
    cursor: pointer;
  }
}