@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 4em auto;
  background: $darkBlue;
  color: #F8F8FF;
  border-radius: 1em;
  box-shadow: 0 0 20px 1px $darkBlue;
  padding: 15px;
}

.settingsHeader {
  text-align: center;
  margin: .6em 0;
  letter-spacing: 2px;
}

.intervalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intervalLabel {
  margin-right: .5em
}

.minutesInput {
  margin-right: .5em;
  border-radius: 0.25em;
  padding: 4px;
  border: none;

  &:focus {
    outline: 1px solid $salmonHover;
  }
}

.breakIntervalDropdown {
  @include size(fit-content, fit-content);
  @include borderAndShadow(none, 0.25em, none);
  padding: 4px;
  margin-right: 5px;
  cursor: pointer;

  &:focus {
    outline: 1px solid $salmonHover;
  }
}

.saveAutomatically {
  margin-top: 1.6em;
  color: greenyellow;
}